[Desktop Entry]
Name=Rill
Comment=Minimalistic BitTorrent client for GNOME
Comment[uk]=Мінімалістичний клієнт BitTorrent для GNOME
Exec=rill %U
Icon=com.github.sachesi.rill
Terminal=false
Type=Application
Categories=Network;P2P;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
StartupNotify=true
NoDisplay=false
StartupWMClass=com.github.sachesi.rill
